
/* Центрируем логотип и контент на странице */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.logo-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 20px 0;
    position: relative;
    left: 0;
}

.logo-circle {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Для адаптивности */
@media (max-width: 600px) {
    .logo-circle {
        width: 100px;
        height: 100px;
    }
}
